.btn {
  display: inline-block;
  min-width: 145px;
  background-color: $yellow;
  border-color: $yellow;
  border-radius: 5px;
  padding: 11px 5px;
  font-family: $btn-font;
  color: $pink;
  width: auto;
  margin: 10px;
  cursor: pointer;
  transition: 300ms all;
  font-size: 16px;

  &:hover { background-color: lighten($yellow, 5%); }
  &:active { transform: scale(.95); }
}
