$pink: #FF68A8;
$yellow: #F9EA0D;
$black: #000;
$white: #FFF;

.pink { color: $pink; }
.yellow { color: $yellow; }
.white { color: $white; }

.pink-bg { background-color: $pink; }
.yellow-bg { background-color: $yellow; }
