$black: #000;
$gray: #d3d3d3;
$white: #FFF;

.black { color: $black; }
.gray { color: $gray; }
.white { color: $white; }

.black-bg { background-color: $black; }
.gray-bg { background-color: $gray; }
.white-bg { background-color: $white; }

$btn-color: $black;
$btn-border-color: $black;
$btn-text-color: $white;
