form {
  input,
  textarea,
  select {
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: $gray;
    padding: 8px;
    margin-bottom: 8px;
    font-family: $copy;
    height: 38px;
  }

  textarea { min-height: 200px; }

  input[type='file'] { border: none; }

  input[type='submit'],
  input[type='file'] {
    background: transparent;
    height: auto;
  }

  label {
    display: inline-block;
    font-family: $copy;
    margin-bottom: 8px;
    font-weight: bold;
  }
}
