@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline&display=swap');

@font-face {
  font-family: "Brush";
  src: font-url('brush.ttf');
}

$tal-de-tali-font: 'Fascinate Inline', cursive;
$label-font: $tal-de-tali-font;
$btn-font: $tal-de-tali-font;
$brush-font: "Brush";

.logo-font { font-family: $tal-de-tali-font; }
.brush-font { font-family: $brush-font; }
